$black-color: #23262d;
$txt-color: #606268;
$gray-light-color: #f3f4f5;
$gray1-color: #a7bbd1;
$gray2-color: #c4cacf;
$gray3-color: #adaeb1;
$border-color: #e2e7eb;
$red-color: #e36f59;
$red-light-color: #fba594;
$powder-color: #ffd4bc;
$pink-color: #f3a9e7;
$purple-color: #bec5ff;
$green-color: #75b687;
$green-light-color: #92e3a9;
$cyan-color: #a3e7ec;
$blue-color: #70cafc;
$blue-light-color: #a1d8ff;
$blue-sky-color: #ddf1ff;
$yellow-color: #ddf1ff;
$white-color: #ffffff;
$white-gray-color: #d8dfda;
$footer-color: #2d3034;
$quote-color: #eef0f3;
$code-bg-color: #f7f8fa;
