.tag__control {
  .tag__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    form.tag__form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 4px 8px 3px rgba($color: #000000, $alpha: 0.2);
      padding: 30px;

      .MuiFormControl-root {
        margin-bottom: 30px;
      }
    }

    .tag__list {
      box-shadow: 4px 4px 8px 3px rgba($color: #000000, $alpha: 0.2);
      padding: 30px;

      .list__menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        .menu__item {
          display: flex;
          flex-grow: 1;
          border-bottom: 1px solid #444;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
