.tag__control {
  h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    margin-top: 50px;
    margin-left: 15px;
  }

  .tag__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 40px;

    form.tag__form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 4px 8px 3px rgba($color: #000000, $alpha: 0.2);
      padding: 30px;

      .MuiFormControl-root {
        margin-bottom: 30px;
      }
    }

    .tag__list {
      box-shadow: 4px 4px 8px 3px rgba($color: #000000, $alpha: 0.2);
      padding: 30px;

      .list__menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        .menu__item {
          display: grid;
          flex-grow: 1;
          grid-template-columns: 0.3fr 1fr 1fr 1fr;
          border-bottom: 1px solid #444;
          align-items: center;
          padding-left: 0;
          list-style: decimal;

          span.bg__box {
            width: 30px;
            height: 20px;
          }

          .tag__buttons {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            button {
              font-size: 20px;
              min-width: unset;
              padding: 8px 12px;

              &:first-child:hover {
                color: #ffdd95;
              }

              &:last-child:hover {
                color: #e36f59;
              }
            }
          }
        }
      }
    }
  }
}
