.course__form {
  .form__content {
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      color: #23262d;
      margin-bottom: 25px;
    }

    .content__main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .main__box {
      display: flex;
      flex-direction: column;

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        color: #23262d;
        margin-bottom: 15px;
      }

      .input__list {
        .list__header {
          .add_input {
            display: flex;
            align-items: center;

            input {
              margin-bottom: 0;
            }
          }
        }

        .list__menu {
          display: flex;
          flex-direction: column;
          list-style: none;
          gap: 15px;

          .menu__item {
            width: auto;
            border: 1px solid #b7c4cf;
            border-radius: 4px;
            margin-left: 15px;
            padding: 10px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            button {
              padding: 5px 10px;
            }

            input {
              border: none;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .box__submit {
      display: flex;
      align-items: center;

      .error__inputs {
        color: #ff1e1e;
        font-size: 14px;
      }
    }
  }
}
