.article__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .article__buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    z-index: 15;

    button {
      font-size: 25px;
      margin-bottom: 20px;

      &:first-child:hover {
        color: #ffdd95;
      }

      &:last-child:hover {
        color: #e36f59;
      }
    }
  }

  .card__box {
    height: 100%;
    background: #fff;
    box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }

  .article__header {
    height: 190px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .article__body {
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .body__tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .article__title {
      margin-bottom: 15px;

      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #23262d;

      a {
        text-decoration: none;
        color: #23262d;

        &:hover {
          color: #e36f59;
          text-decoration: underline;
        }
      }
    }

    .article__text {
      margin-bottom: 22px;
      margin-top: auto;

      font-family: "Segoe UI";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #606268;
    }
  }

  .article__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e7eb;
    padding: 16px 15px 18px 15px;
    margin-top: auto;

    h5 {
      display: flex;
      align-items: center;
      color: #c4cacf;

      svg {
        font-size: 20px;
      }

      span {
        margin-left: 10px;

        font-family: "Segoe UI";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #606268;
      }
    }
  }
}
