.form__button {
  padding: 10px 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #0096ff;
  border: #0096ff 1px solid;
  cursor: pointer;
  margin: 5px;

  &:disabled {
    color: #aebdca;
    border-color: #aebdca;
    cursor: not-allowed;
  }
}
