.modal__content {
  width: 100%;
  flex-grow: 1;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #23262d;
    margin-bottom: 25px;
  }

  .modal__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .img__error {
      font-size: 16px;
      line-height: 23px;
      color: #d61c4e;
      margin-left: 20px;
      margin-bottom: 5px;
    }

    .main__box {
      display: flex;
      flex-direction: column;

      .input__list {
        display: flex;
        flex-direction: column;

        .text__group {
          border: 1px solid #606268;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 35px;

          .group__header {
            button {
              border-color: #d61c4e;
              color: #d61c4e;
            }
          }
        }
        .images__group {
          border: 1px solid #606268;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 35px;

          button:nth-of-type(1) {
            border-color: #d61c4e;
            color: #d61c4e;
          }

          button:nth-of-type(2) {
            border-color: #00c897;
            color: #00c897;
          }

          .group__header ~ div {
            padding: 10px 15px;
            border: 1px solid #b7c4cf;
            border-radius: 5px;
          }
        }
        .menu__group {
          border: 1px solid #606268;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 35px;

          button:nth-of-type(1) {
            border-color: #d61c4e;
            color: #d61c4e;
          }

          button:nth-of-type(2) {
            border-color: #00c897;
            color: #00c897;
          }
        }
        .quote__group {
          border: 1px solid #606268;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 35px;

          .group__header {
            button {
              border-color: #d61c4e;
              color: #d61c4e;
            }
          }
        }

        .group__header {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          button {
            margin-left: 20px;
          }
        }

        .box_header {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          & > button {
            font-size: 15px;
            margin: 0;
            margin-left: 15px;
            padding: 5px 8px;
          }
        }

        .MuiFormControl-root {
          width: 100%;
          margin-bottom: 30px;
        }

        h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 24px;
          color: #23262d;
        }

        h5 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #23262d;
        }

        .images__group > div:not(.group__header) {
          padding-left: 20px;
        }

        .article__buttons {
          height: 50px;
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          button {
            margin-right: 15px;
          }
        }

        .menu__group .menu__list li {
          display: flex;
          align-items: flex-start;
          margin-left: 20px;

          & > button {
            font-size: 15px;
            margin: 0;
            padding: 8px;
            margin-left: 5px;
          }
        }
      }

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        color: #23262d;
        margin-bottom: 15px;
      }
    }
  }
}
