.modal__content {
  width: 100%;
  flex-grow: 1;

  .modal__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .main__box {
      display: flex;
      flex-direction: column;

      .input__group {
        margin-bottom: 40px;

        .MuiFormControl-root {
          width: 100%;
        }

        .MuiAutocomplete-root {
          width: 100%;
        }
      }

      .input__list {
        display: flex;
        flex-direction: column;

        .group__header {
          display: flex;
          align-items: center;

          button {
            margin-left: 20px;
          }
        }

        .box_header {
          display: flex;

          & > button {
            font-size: 20px;
          }
        }

        .MuiFormControl-root {
          width: 100%;
          margin-bottom: 30px;
        }

        h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 24px;
          color: #23262d;
        }

        .images__group > div:not(.group__header) {
          padding-left: 20px;
        }

        .article__buttons {
          height: 50px;

          button {
            margin-right: 15px;
          }
        }

        .menu__group .menu__list li {
          display: flex;

          & > button {
            font-size: 20px;
          }
        }
      }
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #23262d;
      }
    }
  }
}
