@import "../../assets/styles/global";

.code__block {
  margin-bottom: 20px;

  p {
    @include text;
    margin-bottom: 10px;
  }

  h2 {
    @include titleH3;
    margin-bottom: 10px;
  }

  pre.question__code {
    padding: 2px 20px;
    background: $code-bg-color;
    border: 2px solid $border-color;
    border-radius: 8px;
    font-family: "Consolas";
    font-style: normal;
    font-weight: 400;
    overflow: auto;
  }

  @include link-bold;

  @media (max-width: $maxWidthTablet) {
    margin-bottom: 20px;
  }
}
